<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

    <head>
        <title>OMSF — {{ .Page.Title }}</title>
        {{ partial "meta" . }}
        {{ with .Params.redirect_to }}
        <meta http-equiv="refresh" content="0; url={{ . }}" />
        <link rel="canonical" href="{{ . }}" />
        {{ end }}
        {{ partialCached "header_includes" . -}}
    </head>

    <body class="{{block "bodyClass" .}} {{ end }} {{ if .Params.class }} {{ .Params.class }} {{ end }} {{ .Page.Section }}">
        {{ with .Params.redirect_to }}
        <script>window.location.replace("{{ . }}");</script>
        {{ end }}

        <div id="container">

            {{ block "header" . }}
                <header>
                    <a class="logo" href="/">
                        <img src="/images/logo-black.svg" alt="OMSF"/></a>
                    {{ partial "nav" . }}
                    {{ partial "hamburger.html" . }}
                </header>
            {{ end }}
            
            <main>

                {{ block "main" . }}{{ end }}

                {{ block "subnav" . }}
                    <!-- {{ partial "subnav.html" . }} -->
                {{ end }}

                {{ partialCached "footer" . }}